<!DOCTYPE html> 
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MyCompany Videos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="resources/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="icon" type="image/png" href="resources/img/faviconMovie.jpg">
        <link rel="stylesheet" href="resources/css/main.css">
        <link rel="stylesheet" href="resources/css/common.css">
    </head>
    <body>
        <!-- Navigation -->
        <div id="header">{include file="header.tpl"}</div>
        <div class="container" style="margin-top: 70px;">
            <div class="row bottom bottom-buffer">
                <div class="col-md-12 ">
                    <h2><i>MyCompany films corp.</i></h2>
                    <div>
                        <button type="button" class="btn btn-default">Add new video</button>
                        <table class="table table-striped">
                             <thead>
                             <th>Client</th><th>Views</th><th>Url</th><th>Prominent</th><th>Deleted</th><th>Release Date</th><th>Description</th>
                            </thead>
                            <tbody>
                                {foreach from=$videos item=video}
					<tr>
						<td>{$video['client']}</td>
						<td>{$video['views']}</td>
						<td>{$video['url']}</td>
                                                <td>{$video['destacado']}</td>
                                                <td>{$video['deleted']}</td>
                                                <td>{$video['releaseDate']}</td>
                                                <td>{$video['description']}</td>
						<td>
                                                    <button type="button" class="btn btn-danger" data-id="{$video['id']}">Delete</button>
                                                    <button type="button" class="btn btn-default" data-id="{$video['id']}">Edit</button>
						</td>
					</tr>
				{/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">{include file="footer.tpl"}</div>
        <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="resources/js/libs/jquery.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script>
            var bootstrap_enabled = (typeof $().modal == 'function');
            bootstrap_enabled || document.write('<link rel="stylesheet" href="resources/css/bootstrap.css">');
        </script>
        <script src="resources/js/libs/plugins.js"></script>
        <script src="resources/js/helper.js"></script>
        <script src="resources/js/main.js"></script>
    </body>
</html>
