.loadingOverlay
{
    display:none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.7;
    background: #413F3F;
}

.hide
{
    display:none;
}

#alerts
{
    position: absolute;
    width: 50%; 
    margin-left: 10%;  
    z-index: 50;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline: none;
    outline-offset: 0px;
}

.glyphicon-ok
{
    color: #5cb85c;
}

.glyphicon-remove
{
    color: #d9534f;
}



