.loadingOverlay
{
    display:none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.7;
    background: #413F3F;
}

.hide
{
    display:none;
}

#alerts
{
    position: absolute;
     width: 50%; 
    margin-left: 10%;   
}