.loadingOverlay
{
    display:none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.7;
    background: #413F3F;
}

.hide
{
    display:none;
}

#alerts
{
    position: absolute;
    width: 50%; 
    margin-left: 10%;  
    z-index: 50;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline: none;
    outline-offset: 0px;
}

.glyphicon-ok
{
    color: #5cb85c;
}

.glyphicon-remove
{
    color: #d9534f;
}

.navbar-inverse .navbar-nav>li>a
{
    border-right: 1px solid rgb(63, 63, 69);
    border-left: 1px solid rgb(63, 63, 69);
    color: #41A9B2;
    transition: background 1s;
}

.navbar-inverse .navbar-brand
{
    transition: background 1s;
    color: #41A9B2;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover
{
    background: #333;
    color:#51BDC7;
}

.videoDetails
{
    background-color:#EAEAEA;
}

iframe
{
    padding: 5px;
    border: 1px solid #BBBBBB;
    border: 2px solid rgba(156, 156, 156, 0.37);
    -ms-border-radius: 6px;
/*    border-radius: 6px;*/
      background: #41A9B2;
}

#videosContainer .videoDetails
{
    background: none;
    color: #41A9B2;
}

.star-rating > input
{
    cursor:pointer;
}
.portfolio-item
{
    padding-bottom: 6px;
}